%header
  .header
    .userInfo 
      .userInfo__name
        = current_user.name
      %ul.userInfo__links
        %li.userInfo__links__edit
        =link_to "#" do
          = fa_icon 'edit',class: "fa-edit" 
          %span<>
        %li.userInfo__links__cog
        =link_to edit_user_path(current_user) do
          = fa_icon 'cog' ,class: "fa-cog"   
          %span<>        

    .groupInfo
      .groupInfo-left
        .groupInfo-left__name
          test-group
        .groupInfo-left__members
          %ul 
            Member : 
            %li 
              test-user
            %li 
              test-user2
      %input.groupInfo__edit{type: "submit", value: "Edit"}
    
  
%main
  .sideBar
    .sideBar-group
      .sideBar-group__name
        test-group
      .sideBar-group__latest
        さようなら
    - 1.upto(30) do |i|
      .sideBar-group
        .sideBar-group__name
          test-group#{i}
        .sideBar-group__latest
          さようなら
      
  .messages
    .message
      .message__info
        .message__info__speaker
          test-user
        .message__info__date
          2019/10/16(Wed) 17:25:27
      .message__text  
        こんにちは！
    - 1.upto(30) do |i|
      .message
        .message__info
          .message__info__speaker
            test-user#{i}
          .message__info__date
            2019/10/16(Wed) 17:25:27
        .message__text  
          こんにちは！        
    %footer
      .post
        
        .post__form
          %input.post__form__text{type: "textarea", placeholder: "type a message"}
      
          %form.post__form__file(action="post")
            %label
              %i.fa.fa-image.post__form__file-icon
              %input.post__form__file-button{type: "file"}
      
        
        %input.post__submit{type: "submit", value: "Send"}
        
        



