%header
  .header
    .userInfo 
      .userInfo__name
        = current_user.name
      %ul.userInfo__links
        %li.userInfo__links__edit
        =link_to new_group_path do
          = fa_icon 'edit',class: "fa-edit" 
          %span<>
        %li.userInfo__links__cog
        =link_to edit_user_path(current_user) do
          = fa_icon 'cog' ,class: "fa-cog"   
          %span<>        

    -# bg-colorを白にするために必要になった
    .groupInfo--root

%main
  .sideBar
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .sideBar-group
          .sideBar-group__name
            = group.name
          .sideBar-group__latest
            = group.show_last_message




